<div class="admin-wrapper">

  <div class="admin-container">

    <h1 class="page-title">Painel do Administrador</h1>

    <div class="cards-grid">

      <!-- Card: Sellers -->
      <mat-card class="dashboard-card" routerLink="/admin/sellers">

        <div class="card-icon">
          <mat-icon>storefront</mat-icon>
        </div>

        <h2>Sellers</h2>
        <p class="subtitle">Gerenciar sellers cadastrados</p>
        <p class="description">
          Veja, analise e remova sellers da plataforma.
        </p>

        <button mat-flat-button color="primary">
          Listar sellers
        </button>

      </mat-card>

      <!-- Card: Products -->
      <mat-card class="dashboard-card" routerLink="/admin/products">

        <div class="card-icon">
          <mat-icon>people</mat-icon>
        </div>

        <h2>Products</h2>
        <p class="subtitle">Gerenciar produtos</p>
        <p class="description">
          Acesse a lista completa de produtos.
        </p>

        <button mat-flat-button color="primary">
          Listar products
        </button>

      </mat-card>
       
      <!-- Card: Customers -->
      <mat-card class="dashboard-card" routerLink="/admin/customers">

        <div class="card-icon">
          <mat-icon>people</mat-icon>
        </div>

        <h2>Customers</h2>
        <p class="subtitle">Gerenciar customers cadastrados</p>
        <p class="description">
          Acesse a lista completa de usuários registrados.
        </p>

        <button mat-flat-button color="primary">
          Listar customers
        </button>

      </mat-card>
      

    </div>

  </div>

</div>
