<div class="product-wrapper">

  <div class="product-container">

    <mat-card class="product-card">

      <h2 class="title">Criar Produto</h2>

      <form #form="ngForm">

        <!-- Nome -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput name="nome" [(ngModel)]="product.nome" required />
        </mat-form-field>

        <!-- Descrição -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Descrição</mat-label>
          <textarea matInput name="descricao" [(ngModel)]="product.descricao"></textarea>
        </mat-form-field>

        <!-- Linha Preço + Quantidade -->
        <div class="row">

          <!-- Preço -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Preço</mat-label>
            <input matInput type="number" name="preco" [(ngModel)]="product.preco" required />
          </mat-form-field>

          <!-- Quantidade -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Quantidade</mat-label>
            <input matInput type="number" name="quantidade" [(ngModel)]="product.quantidade" required />
          </mat-form-field>

        </div>

        <!-- Categoria -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select
          name="id_category"
          [(ngModel)]="product.id_category"
          required
        >

          <!-- CORREÇÃO AQUI: usando [value] -->
          <mat-option [value]="1">Tênis</mat-option>
          <mat-option [value]="2">Eletrônicos</mat-option>
          <mat-option [value]="3">Roupas</mat-option>
          <mat-option [value]="4">Casa & Decoração</mat-option>
          
          

        </mat-select>
        <mat-error *ngIf="form.submitted && !product.id_category">
          Categoria é obrigatória
        </mat-error>
      </mat-form-field>

        <!-- Imagem -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Imagem (URL)</mat-label>
          <input matInput name="imagem" [(ngModel)]="product.imagem" />
        </mat-form-field>

        <!-- Botão -->
        <button
          mat-raised-button
          class="save-button"
          (click)="submit()"
        >
          Salvar Produto
        </button>

      </form>

    </mat-card>

  </div>

</div>