.product-wrapper{
  min-height:100vh;
  background: linear-gradient(135deg,#ede7f6,#d1c4e9);
  padding:50px;
}

.product-container{
  display:flex;
  gap:50px;
  max-width:1200px;
  margin:auto;
}

.image-section{
  width:60%;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.image-card{
  padding:20px;
  border-radius:16px;
  box-shadow:0 8px 25px rgba(103,58,183,0.15);
  background:white;
}

.main-image{
  width:100%;
  max-height:200px;
  object-fit:contain;
}

.info-section{
  width:40%;
  padding:20px;
  border-radius:16px;
  background:white;
  box-shadow:0 8px 25px rgba(103,58,183,0.15);
}

.product-title{
  font-size:24px;
  font-weight:600;
  color:#673ab7;
}

.price{
  font-size:22px;
  font-weight:600;
  color:#673ab7;
  margin:15px 0;
}

.quantity{
  display:flex;
  align-items:center;
  gap:10px;
  margin:10px 0;
}

.actions{
  margin-top:20px;
}